<div class="entrypopup descripContDesktop" id="descPopUp"  ng-style="{'overflow':windowConfig.overflow, 'margin':windowConfig.margin,'width': windowConfig.width,'height':windowConfig.height,'left':windowConfig.left,'top':windowConfig.top}" >
    <div ng-style="{'height':windowConfig.topHeader}">
        <h2><span translate="lbl_DesFav"></span></h2><span class="min" ng-click="resizeWindow(0)"  ng-show="!isMinimize">Minimize</span><span class="max" ng-click="resizeWindow(1)"  ng-show="isMinimize">Maximize</span><span class="closeCross" ng-click="cancel()"></span>
    </div>
        <div class="entrypopupInner" data-ng-init="init()" id="innerDescCont" ng-style="{'height':windowConfig.innerHeight}">
        <div class="entrypopupform" ng-style="{'height':windowConfig.innerHeight2}">
            <section class="formBar" ng-style="{'height':windowConfig.section1Hgt}">
                <ul>
                    <li><input id="descText"  ng-change="checkLength()" type="text" class="descTextbox" ng-model="txtDescription" placeholder="{{addDescFavVar}}" ng-class="txtDescription != ''? 'textBold':''" ng-enter="addToFavDescription()" /> <a id="addBtn" class="showFav" href="javascript:void(0)" ng-click="addToFavDescription()"><span translate="lbl_add" title="{{'lbl_addDescFav' | translate}}"></span></a></li>
                    <li ng-class="(descriptionList.length==0) ? 'disable' : ''"><a class="deleteAll" ng-click="deleteAllFavDesc()" ng-disabled="descriptionList.length==0" ><span translate="lbl_dltAll" title="{{dltAllVar}}"></span></a></li>
                </ul>
                <section class="searchBarActivity descTopBar">
                    <a class="seachBtnAct"><span>{{ ::'lbl_srch' | translate }}</span></a>
                    <!--<input type="text" class="seachAct" ng-model="gridApi.grid.columns[0].filters[0].term" />-->
                    <input type="text" class="seachAct" ng-model="searchText" ng-enter="filterData()" title="{{srchTxtVar}}"/>
                    <button class="crossSearchAct" ng-click="clearSearch()"></button>
                    <button class="searchSearchAct" ng-click="filterData()"></button>
                </section>

            </section>
            <section class="formSection" >
                <div ng-if="windowConfig.isRendered"  style="overflow-y:hidden; overflow-x: hidden; background-color:#fff " id="desGrid" ui-grid="gridOptions" ng-style="{'width': windowConfig.gridWidth,'height':windowConfig.gridHeight}" class="grid" ui-grid-save-state ui-grid-resize-columns ui-grid-move-columns ui-grid-edit ui-grid-cellNav ui-grid-grouping ui-grid-selection>
                    <div style="top:42px;" class="gridblankdata" ng-if="!gridOptions.data.length"><span>{{::'msg_noFav'|translate}}..</span></div>
                </div>
                <!--<div ng-show="descriptionList.length==0" style="padding: 10px;color: #808080;font: 11px Trebuchet Ms,tahoma,arial,helvetica,sans-serif;">No favorites to display</div>-->

            </section>
        </div>
    </div>

</div>
