<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <link href="../../../css/styleDesktop.css" rel="stylesheet" />
</head>
<body>
    <div class="entrypopup teamMeetingPopup">
        <h2><span>MyTime Desktop - Team meeting</span></h2><span class="closeCross" ng-click="cancel()"></span>
        <div class="entrypopupInner">
            <div class="entrypopupform">
                <section class="formBar">
                    <ul>
                        <li>
                            <a class="changeable" href="javascript:void(0)"> <strong class="selectMeeting">Select...</strong><span></span> </a>
                           
                        </li>
                        <li>
                            <a class="changeable" href="javascript:void(0)"> <strong class="closeMeeting">Close</strong><span></span> </a>
                           
                        </li>
                    </ul>

                   
                </section> 

                <section class="infoArea">
                    <ul>
                        <li><label>From:</label><input type="text" class="txtDisplay" value="Pandey, Nagendra" /></li>
                        <li><label>To:</label><textarea class="txtAreaDisplay">Pandey, Nagendra; Negi, Suresh; Upreti, Meenakshi; Kapoor, Sangeeta; Rahul, Kumar; Luthra, Lokesh</textarea></li>
                        <li><label>Subject:</label><input type="text" class="txtDisplay" value="MyTime Desktop - Team meeting" /></li>
                        <li><label>Location:</label><input type="text" class="txtDisplay" value="$GOSS, 5.1 Nathan Phillips Square (8) - Data Projector" /></li>
                        <li><label>Start Time:</label><input type="text" class="txtDisplay" value="Tue, Jul 05, 2016 2:30 PM" /></li>
                        <li><label>End Time:</label><input type="text" class="txtDisplay" value="Tue, Jul 05, 2016 3:00 PM" /></li>

                    </ul>
                </section>

                <div class="showEmailContent">


                </div>
            </div>
        </div>

    </div>
</body>
</html>
