  <script type="text/javascript">
if(navigator.userAgent.match(/(iPhone|iPod|iPad)/i)) {
    $(".recommended").css("display", "block");
    }
    

</script>
<div ng-show="showLoginPage">
  <div class="container-fluid" id="loginDiv" ng-if="isMobileOrTab" ng-controller="loginCtrl" check-key-press ctrl-id="loginbtn" dv-id="loginDiv" data-ng-init="ClearCredentials()" >
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="pg-login">
                  
                    <div class="pg-login">
                        <div class="logo-bg-container-left"></div><div class="logo-bg-container-right"></div>
                        <div class="logo-bg-container">
                            <section class="logo-bg">
                                <!--  <img src="images/mytimeLogo.png" alt="" title="">-->
                            </section>
                        </div>
                    <div class="login-container">
                        <section class="login-credentials">
                            <ul>
                                <li><label for="username">USERNAME</label><input  type="text" class="username" ng-model="username" ng-change="IsValue()" id="username" ng-focus="isUsernameFocused=true"  placeholder="Enter Username"><button class="btn reset-btn"  ng-show="(username.length>0)"  ng-click="resetField()"> X </button></li>
                                <li><label for="password">PASSWORD</label><input type="password" ng-model="password" ng-change="IsValue()" class="password" id="password" placeholder="Enter Password"></li>
                            </ul>
                            <span class="msg" ng-bind="loginNote"></span>
                            <div class="networkMsg"><span ng-bind="nonStepupMsg"></span></div>
                            <span class="invalid-user" ng-bind="message"></span>

                          
                            
                                <section class="remember"><input id="rmembrChck" ng-checked="isUsernameSaved" ng-click="rememberUsername()" type="checkbox" /> <label for="rmembrChck">Remember my username</label></section>
                            
                            
                                <input type="submit" id="loginbtn" ng-disabled="enableLoginFlag" ng-class="enableLoginFlag?'sub btn-grd copy disable':'sub btn-grd'"   value="LOGIN" ng-click="login()">
                        </section>
                        <span class="recommended">Please use MobileIron's Web@Work for accessing the application from iPhones and iPads.</span>
                    </div>
                </div>                    
            </div>
        </div>
        </div>
  
<div class="remember" style="margin-bottom:0px;padding-bottom:0px;margin-top:0px;padding-top:0px;">
<label style="text-align:right; width:90%;" ng-bind="getVersion()"></label>
    </div>
        </div>
<div id="vwDesktop" ng-if="!isMobileOrTab" ng-controller="loginDesktopCtrl" check-key-press ctrl-id="loginbtnDsktp" dv-id="vwDesktop" ng-if="!changePassword" value="{{isInactiveNonADPassword}}" >
<div class="main">
			<div class="inner-login">
				<div class="login-box">
					<div class="login-elements">
						<div class="login-header">
						<h3>myTime Login (ver. {{applicationVersion}})</h3>
						</div>
						<figure class="mytimelogo"><img src="img/desktop/clock.jpg" alt=""></figure>
						<div class="login-details deskTopLgnDetail">
							<div>
								<p>Username:</p>
                                <small class="usernameTxt"><input id="txtLoginUserName" onfocus="this.select();" class="timedDisplay" ng-class="username.length==0?'untxt invalid':'untxt'" type="text" placeholder="<Enter Username>"  ng-focus="this.placeholder = ''" ng-change="IsValue()" ng-model="username" />
                                    <button class="btn reset-btn nameDel"  ng-show="(username.length>0)"  ng-click="resetField()"> X </button>
                                </small>
							</div>                            
							<div style="clear:both;">
								<p>Password:</p>
                                <small class="passwordTxt"><input id="txtLoginPassword" type="password" class="timedDisplay" ng-class="password.length==0?'passtxt invalid':'passtxt'" ng-change="IsValue()"  ng-attr-placeholder="{{lgnPlacHolderVal}}"  ng-model="password" /></small>
							</div>
                            <div id="divCapsIndicator" style="visibility:hidden;position:absolute;">Caps Lock is on</div>
                            <div class="networkMsg"><p ng-bind-html="loginMessage"></p></div>
                            <div class="networkMsg"><p ng-bind="message"></p></div>
						</div>
						<div class="login_button deskTopLgnBtn" ng-mouseover="IsValueMouseOverDiv()">
                            <section class="remember"><input id="rmembrChck" ng-checked="isUsernameSaved" ng-click="rememberUsername()" type="checkbox" /> <label for="rmembrChck">Remember my username</label></section>
							<input type="submit" title="{{fieldEmpty}}" id="loginbtnDsktp"  ng-class="enableLoginFlag?'submit_button disabled':'submit_button'" ng-disabled="enableLoginFlag" value="Login" ng-click="login()"/>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>

<div id="vwDesktopChangePswrd" check-key-press ctrl-id="loginChangePswrdBtn" dv-id="vwDesktopChangePswrd" ng-if="changePassword" ng-controller="loginDesktopCtrl" ng-class="changePassword">
<div class="main">
			<div class="inner-login">
				<div class="login-box">
					<div class="login-elements">
						<div class="login-header">
						<h3>{{'lbl_chngPswrd' |translate}}</h3>
						</div>
                        <div class="headinguser nameHolder">{{displayUsername}}</div>
						<figure class="mytimelogo logoshift" style="width: 86px; height: 82px;"><img src="img/desktop/clock.jpg" alt=""></figure>
						<div class="login-details changepass">
							<div>
								<p>{{'lbl_newPswrd' |translate}}:</p>
                                <small class="newpass"><input id="txtNewPassword" autofocus type="password" placeholder="{{'lbl_enterNewPswrd' |translate}}" ng-class="newPswrd.length==0?'textbox_pwd invalid':'textbox_pwd'"  ng-change="IsChangeValue()" ng-model="newPswrd" ng-change="IsChangeValue()"  /></small>
							</div>
							<div style="clear:both;">
								<p>{{'lbl_newCnfrm' |translate}}:</p>
                                <small class="newConpass"><input id="txtCnfrmPassword" type="password" placeholder="{{'lbl_cnfrmNewPswrd' |translate}}" ng-class="cnfrmPswrd.length==0?'textbox_pwd invalid':'textbox_pwd'" ng-change="IsChangeValue()" ng-model="cnfrmPswrd" /></small>
							</div>
                            <div class="networkMsg" ng-if="visibleNtwrkMsg"><p><span ng-class="msgActive?'msgNetworkActive':''"  ng-bind="ntwrkMessage"></span></p></div>
                            <div class="networkMsg"><p ng-bind="confrmMessage"></p></div>
						</div>
                        <div class="btnsContainer">
                            <div class="login_button">
                                <input id="loginChangePswrdBtn" type="submit" title="{{fieldEmptyChangePswrd}}" ng-class="enableCnfrmPswrdFlag?'submit_button disabled':'submit_button'" ng-disabled="enableCnfrmPswrdFlag" value="{{'lbl_change' |translate}}" ng-click="change()" />
                            </div>
                            <div class="cancelButtonDiv" ng-if="isChangePasswordCancelButton">
                                <input class="changeCancel" type="submit" value="{{'btn_Cancel' |translate}}" ng-click="Cancel()" />
                            </div>
                        </div>
					</div>
				</div>
			</div>
		</div>
    </div>

<div  ng-controller="loginDesktopCtrl" ng-if="isInactiveNonADPassword">
    <div class="main passwordReset">
        <div class="inner-login">
            <div class="login-box">
                <div class="login-elements">
                    <div class="login-header">
                        <h3>{{inactivePass}} <span class="closeCross" ng-click="close()"></span></h3>
                    </div>
                   <div class="textInfo-pw"><p>{{newPassEmail}}</p></div>
                  <ul>
                      <li><input class="confirmBtn activeButton" id="nonadinactiveyes" type="button" value="{{'btn_Yes'|translate}}" ng-click="proceed()"></li>
                      <li><input class="confirmBtn" type="button" value="{{'btn_No'|translate}}" ng-click="close()"></li>
                  </ul>
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>
</div>

